.zalsteksts {
    color:green;
    border-style: dashed;
 } 

 #unikalsID007{
     color: blue;
     font-size: large;
 }
 .ramitisleft {
                background-color: rgb(0, 44, 66);
                padding: 20px;
         } 
         .ramitisbackgroundtopleft {
                    background-color: rgb(0, 44, 66);
                    padding: 15px;
             } 
             .ramitisbackgroundtopright {
                
                        background-color: rgb(255, 255, 255);
                        padding: 15px;
                 } 
         .ramitisright {
           
                    background-color: rgb(255, 255, 255);
            height: 100%;
            padding: 20px;
             } 
 .ramitistopleft {
    background-color: rgb(64, 220, 237);
  
    text-align: left;
    padding: 15px;
    } 
    .ramitistop1 {
        background-color: rgb(0, 44, 66);
        } 
.ramitistopright {
    background-color: rgb(64, 220, 237);
  
    text-align: right;
    } 
    .ramitistop4 {
        background-color: rgb(255, 255, 255);
        } 
 #topramitis{
    width: 650px;
    display: grid;
    grid-template-columns:10% 45% 35% 10%;
    
}
#topramitisbackground{
    width: 636px;
    height: 100px;
    display: grid;
    grid-template-columns:40% 60%;
    
}
 #specialramitis{
    width: 636px;
    height: 100%;
    display: grid;
    grid-template-columns:40% 60%;
   
   
}

ul li {
    font-family: "Gill Sans", sans-serif;;
    color: azure;
}
ol li {
    font-family: "Gill Sans", sans-serif;;
    color: rgb(0, 44, 66);
}

ol p {
       text-decoration: underline;
}

body {
    background-color: rgb(255, 255, 255);
    border:groove;
}
h4 {
    color: rgb(64, 220, 237);
}
h2 {
    color: rgb(255, 255, 255);
}
h5 {
    color: rgb(0, 44, 66);
    font-size:large;
}