.zalsteksts {
    color:green;
    border-style: dashed;
 } 

 #unikalsID007{
     color: blue;
     font-size: large;
 }
 .ramitis {
        border-style: groove;
                border-color: rgb(196, 196, 196);
                background-color: rgb(0, 44, 66);
        height: 100%;
        padding: 20px;
 } 
 .ramitistopleft {
    background-color: rgb(64, 220, 237);
    height: 100%;
    text-align: left;
    padding: 20px;
    } 
.ramitistopright {
    background-color: rgb(64, 220, 237);
    height: 100%;
    text-align: right;
} 
 #topramitis{
    width: 636px;
    display: grid;
    grid-template-columns:40% 60%;
    
}
 #specialramitis{
    width: 636px;
    height: 100%;
    display: grid;
    grid-template-columns:40% 60%;
   
   
}

ul li {
    font-family: "Gill Sans", sans-serif;;
    color: azure;
}
ol li {
    font-family: "Gill Sans", sans-serif;;
    color: azure;
}

ol p {
       text-decoration: underline;
}

body {
    background-color: rgb(255, 255, 255);
}
h4 {
    color: rgb(64, 220, 237);
}
h2 {
    color: rgb(255, 255, 255);
}